:root {
    --primary: #3d3d3d;
    --secondary: #2b2b2b;
    --surface: #4d4d4d;
    --muted: #7d7d7d;
    --action: #5d5d5d;
    --action-hover: #7d7d7d;
    --action-active: #4d4d4d;
    --accent: #dbd33d;
    --text: #f2f2f2;
    --font: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body , #app {
    width: 100vw;
    height: 100vh;
}